{% include 'books/header.html' %}
<title>Books List</title>
<body>
  {% if user.username %}
    <p>You can also <a href='/book-form/'>Add</a> a book</p>
    <h2>Books</h2>
    <ul>
    {% for book in books_list%}
      <li><a href='/detail/{{ book.pk }}/'>{{ book }}</a></li>
    {% endfor %}
  {% else %}
  <p>Welcome to Books Site</p>
  <p>You need to <a href='/login/'>login</a> to visit this site.</p>
  <p><a href='/register/'>Register</a> if you don't have an account</p>
  {% endif %}
</body>
{% include 'books/footer.html' %}
