{% extends 'books/base.html' %}
{% block title %}Books List{% endblock %}
{% block content %}
  {% if user.username %}
    <p>You can also <a href='/book-title/'>Add</a> a book</p>
    <table>
    <tr><th>Books</th></tr>
    {% for book in books%}
    <tr>
      <td><a href='/detail/{{ book.id }}'>{{ book }}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>Welcome to Books Site</p>
    <p>You need to <a href='/login/'>login</a> to visit this site.</p>
  {% endif %}
{% endblock %}
